@charset "utf-8";
#header{position: absolute;background: rgba(43, 43, 43, .7);width: 100%;}


#content{font-family: Noto Serif KR;font-weight: 400;font-size: 20px;}
.area{width: 1320px;margin: 0 auto;/* border: 1px solid black; */}

/* .st_bg */
.st_bg{height: 1880px;background: url("../images/story/coffStory_sec1_01.jpg") center top;background-size: cover;color: #fff;}
.st_bg .tit{height: 335px;/* background: pink; */padding: 338px 205px 0 231px;margin: 0 auto;}
.st_bg .tit .tit_right{float: right;/* border: 1px solid green; */font-size: 60px;font-weight: 500;padding: 160px 85px 0 0;letter-spacing: 6px;}
/* .st_bg .tit .tit_right h2{border: 1px solid red;} */
.st_bg .tit .tit_right h2:nth-child(2){padding: 35px 0 0 71px;}
.st_bg .tit .tit_left{float: left;/* border: 1px solid black; */font-family: Roboto;font-weight: 300;font-size: 36px;letter-spacing: 3.6px;}
/* .st_bg .tit .tit_left p{border: 1px solid red;} */
.st_bg .tit .tit_left p:nth-child(2){position: relative;padding: 30px 0 0 25px;}
.st_bg .tit .tit_left p:nth-child(2)::after{content: "";position: absolute;bottom: 15px;right: -1075px;width: 1004px;height: 3px;background: #fff;}
.st_bg > .fade p{position: relative;/* border: 1px solid red; */text-align: center;font-weight: 300;font-size: 30px;line-height: 60px;letter-spacing: 3px;margin-top: 564px;}
.st_bg > .fade p::before{content: "";position: absolute;width: 191px;height: 79px;top: -174px;left: 305px;border: 3px solid rgba(246, 204, 55, .65);border-bottom-color: transparent;border-right-color: transparent;}
.st_bg > .fade p::after{content: "";position: absolute;width: 79px;height: 191px;bottom: -169px;right: 302px;border: 3px solid rgba(246, 204, 55, .65);border-top-color: transparent;border-left-color: transparent;}

/* .roast */
.roast .area{position: relative;height: 940px;letter-spacing: 2px;}
.roast .area > p{padding: 177px 0 0 54px;line-height: 1.5;/* border: 1px solid black; */}
.roast .area .txt_right{/* margin: 336px 0 0 1124px; */float: right;margin: 300px 172px 0 0; width: 324px;/* border: 1px solid black; */}
.roast .area .txt_right p{/* border: 1px solid red; */line-height: 60px;}
.roast .area .txt_right p:nth-child(2){font-size: 25px;font-weight: 600;letter-spacing: 2.5px;margin-left: 15px;}
.roast .area .txt_right p:nth-child(3){margin-left: 209px;}
.roast .area img{position: absolute;}
.roast .area img:nth-of-type(1){left: 0;top: 337px;}
.roast .area img:nth-of-type(2){left: 363px;top: 470px;}
.roast .area img:nth-of-type(3){right: 0;top: 141px;}

/* .blend */
.blend{position: relative;height: 1880px;}
.blend .sub_tit, .area .bg_txt{text-align: center;} 
.blend .sub_tit{position: absolute;z-index: 10;top: 195px;left: 0px;width: 100%;}
.blend .sub_tit h3:nth-child(1){font-size: 40px;letter-spacing: 4px;}
.blend .sub_tit h3:nth-child(2){font-size: 53px;letter-spacing: 5.3px;color: #231815;}
.bg_gray{position: absolute;top: 287px;left:0px;background: #f4f7fa;height: 1590px;width: 100%;z-index: -1;}
.area .bg_txt{position: absolute;top: 427px;left: 0px;width: 100%;letter-spacing: 2px;/* background: pink; */}
.area .bg_txt .choice{position: relative;font-size: 22px;letter-spacing: 2.2px;}
.area .bg_txt .choice::after{content: "";position: absolute;width: 7px;height: 7px;top: -10px;left: 7px;background: #f8e69f;border-radius: 50%;-webkit-animation: circle 2s infinite;animation: circle 2s infinite;}
.area .bg_txt .delay-3::after{animation-delay: 0.1s;}
.area .bg_txt .delay-5::after{animation-delay: 0.3s;}
.area .bg_txt .delay-7::after{animation-delay: 0.5s;}

@-webkit-keyframes circle {
    0%{opacity: 1;}
    100%{opacity: 0.5;}
}
@keyframes circle {
    0%{opacity: 1;}
    100%{opacity: 0.5;}
}

/* 블랙그라운드 */
/* 슬라이더 */
.blend .wrap{height: 898px;padding-top: 600px; }
.swiper-container{overflow: visible;font-family: NtSansKR;}
.swiper-wrapper{height: 898px;}
.swiper-slide{border-radius: 10px;overflow: hidden;}

/* 이전다음버튼 */
.prev_next{width: 29px;height: 43px;background: url("../images/story/grip-lines-vertical-solid.svg") no-repeat center;transition: background 0.3s;}
.swiper-button-prev{left: -130px;}
.swiper-button-next{right: -130px;}
.swiper-button-prev:hover, .swiper-button-prev:focus{background: url("../images/story/chevron-left-solid.svg") no-repeat;left: -130px;}
.swiper-button-next:hover, .swiper-button-next:focus{background: url("../images/story/chevron-right-solid.svg") no-repeat;right: -130px;}
.swiper-button-prev:after, .swiper-button-next:after{display: none;}
.prev_next p{position: absolute;top: -60px;left: calc(50% - 40px);text-align: center;color: #a9041a;}

.slide_cnt .bean .bk_right .p_l p + p{margin-top: 30px;}


/* slider common */
.blend{color: #fff;}

.blend .origin{display: flex;font-size: 15px;letter-spacing: 0.75px;padding: 105px 0 0 97px;}
.blend .origin span + span{margin-left: 9px;}
.blend .origin span{display: inline-block;height: 31px;line-height: 31px;border: 1px solid #fff;border-radius: 15.5px;font-size: 15px;padding: 4px 8px;}

.blend .slide_cnt{width: 1320px;height: 898px;}
.blend .slide1 .slide_cnt{background: url("../images/story/coffStory_sec3_01.jpg");}
.blend .slide2 .slide_cnt{background: url("../images/story/coffStory_sec3_02.jpg");}

.blend .tab_tit{margin: 30px 0 0 99px;}
.blend .tab_tit span:nth-child(1){font-size: 30px;letter-spacing: 1.5px;font-weight: 700;color: #a9041a;}
.blend .tab_tit span:nth-child(2){font-size: 15px;letter-spacing: 0.15px;margin-left: 11px;}
.blend .quot{position: absolute;top: 290px;left: 200px;width: 948px;justify-content: space-between;font-size: 36px;}
.blend h4{position: relative;font-size: 28px;font-weight: 700;letter-spacing: 2.8px;text-align: center;margin-top: 50px;}
.blend h4::after{content: "";position: absolute;width: 230px;height: 2px;bottom: -60px;left: calc(50% - 115px);background: #fff;opacity: 0.6;}
.blend .bean{margin: 115px 310px 0 310px;/* border: 1px solid red; */justify-content: space-between;}
.blend .slide2 .bean{margin: 100px 310px 0 310px;}
.blend .bean, .blend .recom{font-size: 18px;letter-spacing: 1.8px;}
.blend .bean .yellow{color: #e7c748;font-weight: 700;padding-bottom: 40px;}
.bean .bk_left p span, .bean .bk_right .p_l{padding-left: 20px;vertical-align: middle;}
.bean .bk_left p:nth-child(3){/* background: blue; */margin: 60px 0 65px 0;}
.slide2 .bean .bk_left p:nth-child(3){margin-bottom: 55px;}
.blend .recom{text-align: center; /* background: pink; */}
.blend .recom p{position: relative; display: inline-block;padding: 20px 30px;/* background: aqua; */}
.blend .recom p::before, .blend .recom p::after{content: "";position: absolute;border: 2px solid #fff;width: 62px;height: 100%;box-sizing: border-box;top: 0;}
.blend .recom p::before{left: 0;border-right-color: transparent;}
.blend .recom p::after{right: 0;border-left-color: transparent;}

.blend .area .more{position: absolute;top: 550px;right: 350px;font-size: 18px;}
.blend .area .more:hover, .blend .area .more:focus{color: #a9041a;}
.blend .area .more::after{content: "";position: absolute;width: 50px;height: 1px;right: -63px;top: 60%;background: #54565a;}

/* 블랙그라운드,아로마노트 원두아이콘 애니메이션 */
.bean .bk_left img{-o-transform: rotate(0.1turn);transform: rotate(0.1turn);animation: bean 3s ease 5 forwards;}
.bean .bk_left img:nth-of-type(2){animation-delay: 0.5s;}
.bean .bk_left img:nth-of-type(3){animation-delay: 1s;} 
.bean .bk_left img:nth-of-type(4){animation-delay: 1.5s;}
.bean .bk_left img:nth-of-type(5){animation-delay: 2s;}
@keyframes bean {
    0%{opacity: 1;}
    100%{opacity: 0.7;}
}

/* fade효과 */
/* .slide_cnt .origin, .slide_cnt .tab_tit, .slide_cnt .quot, .slide_cnt h4, .slide_cnt .bean, .slide_cnt .recom{opacity: 0;}
.slide_cnt .origin, .slide_cnt .tab_tit{transform: translateY(50px);}
.slide_cnt .quot, .slide_cnt h4{transform: translateY(100px);}
.slide_cnt .bean{transform: translateY(150px);}
.slide_cnt .recom{transform: translateY(200px);} */
.slide_cnt.on .origin, .slide_cnt.on .tab_tit, .slide_cnt.on .quot, .slide_cnt.on h4, .slide_cnt.on .bean, .slide_cnt.on .recom{opacity: 1;transform: translateY(0);}
